*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
}

li,h1,ul{
    display: inline;
}
ul{
    margin-left:900px;
}
li{
    padding-left: 8px;
    padding-right: 11px;
    color: gray;
    cursor: pointer;
}
li:hover
{
    color:white;
}
input{
    width:60%;
    padding: 15px;
}
.searchbar{
    padding:50px;
    text-align: center;
}
img{
    width:220px;
    height:220px;
}
.box1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width:220px ;
    height: 279px;
    cursor: pointer;
}
.box1:hover{
    background-color: black;
    color: white;
}
.Products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding:20px
}
